.chartbar {
  display: block;
  height: 100%;
  width: 17%;
  margin: auto;
  padding-right: 0.9rem;
  overflow-x: hidden;
}

.chartbar__bar {
  background-color: var(--soft-red);
  margin-right: 0.7rem;
  border-radius: 5px;
  height: 80%;
  margin-bottom: 1rem;
  width: 100%;
}

.chartbar p {
  font-family: var(--regular);
  color: rgba(128, 128, 128, 0.521);
}